@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 body{
    font-family: "Figtree", serif;
    background-color: hsl(47, 88%, 63%);

 }
 .main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.card{
    background-color:hsl(0, 0%, 100%);
    width: 340px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}
.card img{
    border-radius: 10px;

}
.card .top_heading{
    margin: 3px;
    margin-top: 10px;
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 4px;
    border-radius: 3px;

}
.card h2{
    margin: 3px;
    margin-top: 15px;
}
.card  p{
    margin: 3px;
    margin-top: 15px;
    color: hsl(0, 0%, 50%);
}

.small_container{
    margin: 3px;
    display: flex;
    justify-content: start;
    margin-top: 15px;
}
.small_container img{
    width: 50px;
    height: 50px;
}
.small_container .author_name{
    margin-left: 15px;
}